.card-front-container {
  padding-left: 2rem;
  margin-top: 2rem;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../images/bg-card-front.png');
  transform: translateX(100px);
  box-shadow: 3px 4px 6px rgb(51, 50, 50);
}

.card-front-container img {
  width: 100px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.number {
  color: var(--white);
  font-size: 2rem;
  letter-spacing: 5px;
}

.details {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.name, .valid {
  font-size: 1.4rem;
  color: var(--white);
  letter-spacing: 2px;
}

.card-back-container {
  padding-left: 2rem;
  margin-top: 2rem;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/bg-card-back.png');
  transform: translateX(200px);
  box-shadow: 3px 4px 10px rgb(51, 50, 50);
}

.cvc {
  letter-spacing: 4px;
  color: var(--white);
  font-weight: 500;
  font-size: 1.4rem;
  transform: translate(160px, 20px);
}