.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh auto;
  grid-template-areas:
  'aside  main main ';
}

aside {
  grid-area: aside;
  background-color: var(--violet300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

main {
  grid-area: main;
  background-color: var(white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:1316px){
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto  ;
    grid-template-areas:
    'aside'
    'main';
  }

  main {
    margin-top: 4rem;
    height: 100%;
    justify-content: center;
  }

  .card-back-container, .card-front-container {
    transform: unset;
  }

  .card-front-container {
    transform: translate(-80px, -130px);
  }

  aside {
    gap: 0;
    height: fit-content;
    flex-direction: column-reverse;
  }
}