.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh auto;
  grid-template-areas:
  'aside  main main ';
}

aside {
  grid-area: aside;
  background-color: var(--violet300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

main {
  grid-area: main;
  background-color: var(white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:1316px){
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto  ;
    grid-template-areas:
    'aside'
    'main';
  }

  main {
    margin-top: 4rem;
    height: 100%;
    justify-content: center;
  }

  .card-back-container, .card-front-container {
    transform: unset;
  }

  .card-front-container {
    transform: translate(-80px, -130px);
  }

  aside .card-container {
    display: flex;
    padding-top: 4rem;
    gap: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 650px) {
 .card-back-container, .card-front-container {
  transform: unset;
 }

 .card-front-container {
  transform: translate(-60px, -100px);
 }
}

@media (max-width: 550px) {
  .card-container{
    width: 90%;
    padding-bottom: 2rem;
  }
  .card-back-container, .card-front-container {
    width: 90%;
    min-width: 380px;
    max-width: 400px;
  }

  .card-front-container {
    transform: translate(0, 0);
   }

   .container {
    width: 90%;
  }

 }